* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background: #f7f5f0;
}

.slider-container {
    width: 90%;
    margin: 2rem auto;
}
